* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh; 
  width: 100vw;  
}
.sidebar{
    grid-area: 1/1/3/2;
    text-align: center;
    
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    grid-template-rows: 0.2fr 0.9fr 1.25fr ;
    row-gap: 30px;
    background-color: #6edfb2e5;
    color: rgba(51, 58, 46, 0.959);
    


}
.top{
    grid-area: 1/2/2/3;
    
    border: 3px solid black;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: rgba(250, 235, 215, 0.76);
    height: 180px;
    
}
.main{
    grid-area: 2/2/3/3;
    text-align: center;
    border: 3px solid black;
    background-color: rgba(229, 210, 185, 0.918);
}
.group1{
    display: grid;
    
    grid-area: 1/2/2/2;
    justify-items: flex-start;
    align-content: flex-end;
    padding-top: 20px;
    gap: 20px;

}
.group2{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-area: 2/2/3/2;
    justify-items: flex-start;
     
}
.group3{
    display: grid;
    grid-template-rows: repeat(3,0.13fr);
    grid-area: 3/2/3/2;
    justify-items: flex-start;
}
img{
    width: 2.20rem;
    height: 1.70rem;
    cursor: pointer;
    
    
}
.icons1{
    display: grid;
    grid-row: 0.5fr;
    grid-area: 1/1/2/2;
    justify-items: flex-end;
    align-content: flex-end;
    padding-right: 10px;
    opacity: 0.8;

}
.icons2{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-area: 2/1/3/2;
    justify-items: flex-end;
    padding-right: 10px;
    opacity: 0.8;
    
    
}
.icons3{
    display: grid;
    grid-template-rows: repeat(3,0.13fr);
    grid-area: 3/1/3/2;
    justify-items: flex-end;
    padding-right: 10px;
    opacity: 0.8;
}
.bgimg{
    width:3rem ;
    height:3rem ;
}
a{
    text-decoration: none;
    color: rgba(51, 58, 46, 0.959);
}
.topbar{
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr 0.5fr 1.25fr ;
    justify-items: center;
    align-items: center;
    padding-top: 5px;
    
}
.magnify {
    
    width:2.3rem ;
    height:1.8rem ;
    justify-self: flex-end;
    margin-right: 10px;
    
}
.bell{
    width:2.3rem ;
    height:1.8rem ;
    justify-self: flex-end;
    margin-right: 15px;
}
.srbar{
    width: 950px;
    height:2rem ;
    border: 0.5px rgba(0, 0, 0, 0.089) solid ;
    border-radius: 20px;
    background-color: rgba(82, 180, 148, 0.452);
    justify-self: flex-start;
    
}
.naruto{
    width:4rem ;
    height: 4rem;
    border:2px rgba(0, 0, 0, 0.089) solid  ;
    border-radius: 50px;
    background-color: rgb(232, 248, 0);
}
.wis{
    justify-self: flex-start;
    margin-left: 15px;
    font-size: 1.2rem;
    color: rgba(51, 58, 46, 0.959);
}
.bottombar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.user{
    display:grid ;
    grid-template-columns: 0.25fr 2fr;
    grid-template-rows: 0.25fr;
    
}
.napic{
    width: 5.8rem;
    height: 5.8rem;
    border:2px rgba(0, 0, 0, 0.089) solid  ;
    border-radius: 50px;
    background-color: rgb(232, 248, 0);
    grid-area:1/1/2/2 ;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 20px;
    
    
    justify-self: center;
}
.username{
    grid-area: 1/2/2/2;
    align-self:center;
    margin-top: 20px;
    color: rgba(51, 58, 46, 0.959);
    
}
.hi{
    grid-area:1/2/2/2 ;
    align-self: center;
    margin-bottom: 50px;
    color: rgba(51, 58, 46, 0.959);
}
.btndiv{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    
    align-content: flex-end;
    column-gap: 50px;
    margin-left: 270px;
}
.btn{
    
    border:none ;
    border-radius: 50px;
    width: 6.3rem;
    height: 2.9rem;
    background-color: rgba(5, 90, 218, 0.925);
    color: white;
    margin-bottom:25px ;
    font-size: 1rem;
    font-weight: 900;
}
.New{
    justify-self: flex-end;
}